<%= form_for(@call) do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% @call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :priority_id %><br>
    <%= f.collection_select(:priority_id, Priority.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.collection_select(:type_id, Type.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :responder_id %><br>
    <%= f.collection_select( :responder_id, Responder.all, :id, :name, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select( :status_id, CallStatus.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
